@mixin whenWidth768() {
  
  .header {
    background-color: rgba(213, 231, 245, 0.77);
    .top-logo {
      .logo-img {
        max-height: 55px !important;
      }
    }
  }
  .burger {
    width: 61px !important;
    height: 71px !important;
    padding: 20px 20px 20px 20px !important;
    right: 15px !important;
  }
  .left-menu {
    width: 703px !important;
    height: 130px !important;
    background-color: #6aaed5;
    border-radius: 36px 36px 36px 71px;
    padding: 150px 100px 0px 0px !important;
    margin: 230px auto 0px auto !important;
  }
  .section {
    flex-direction: column-reverse;
    position: relative;
    height: 700px !important;
    max-height: 100%;

    .left-menu {
      width: 201px;
      height: 431px;
      position: relative;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
      background-position: center;
      background-image: url(images/leftmenuim.png);
      .left-flex {
        display: flex;
        position: absolute;
        top:0px;
        left:40px;
      }
      .left-flex2 {
        display: flex;
        position: absolute;
        top:20px;
        left:370px;
      }
      .left-menu-text1 {
       
        text-decoration: none;
        position: absolute;
        top:30px;
        left:150px;
        font-size: 14px;
        font-family: inherit;
       
        width: 300px;
      }
      .left-menu-text2 {
        text-align: center !important;
        text-decoration: none;
        position: absolute;
        top:15px;
        left:110px;
        font-size: 14px;
       
        width: 100px;
        
      }
     
    }
    .container {
      margin: 0px 30px -190px 70px;
      width: 600px;
      font-size: 14px;
      .label1 {
        font-size: 13px;
        margin: 0px;
        font-weight: bold;
      }
      .bar {
        .input-botton {
          display: flex;
          width: 90px;
          height: 50px;
        }
        
      }
      .font12 {
        color: #999;
        font-size: 9px !important;
        border: 1px #ccc;
       
        padding: 0 0;
        width: 600px;
      }
      .form-control{
        font-size: 13px;
      }
    }
  }
}
