@charset "UTF-8";
.header {
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: rgba(213, 231, 245, 0.77);
}

.header .top-logo {
  text-align: center;
  padding: 34px;
}

.header .top-logo .logo-img {
  max-height: 70px;
}

body {
  min-height: 100vh;
  background-color: #f7f5e9;
  font-family: "Open Sans";
  color: white;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.burger {
  position: absolute;
  z-index: 10;
  right: 25px;
  top: 25px;
  cursor: pointer;
  background-color: #6aaed5;
  width: 115px;
  border-radius: 36px 36px 36px 71px;
  height: 100px;
  padding: 45px;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.burger__patty {
  width: 28px;
  height: 2px;
  margin: 0 0 4px 0;
  background: white;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.burger__patty:last-child {
  margin-bottom: 0;
}

.burger--close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.burger--close .burger__patty:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(4px, 4px);
          transform: rotate(45deg) translate(4px, 4px);
}

.burger--close .burger__patty:nth-child(2) {
  opacity: 0;
}

.burger--close .burger__patty:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(5px, -4px);
          transform: rotate(-45deg) translate(5px, -4px);
}

.menu {
  background: #6aaed5;
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  text-align: left !important;
}

.menu--active {
  visibility: visible;
}

.menu__brand, .menu__list {
  background: #6aaed5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__item-sub1 {
  font-size: 10px;
  text-align: left;
}

.menu__list {
  margin: 0;
  padding: 0;
  background: #c6c4ba;
  list-style-type: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu__list--active {
  background: #6aaed5;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu__brand {
  background: #f7f5e9;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  background: #6aaed5;
}

.menu__brand--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  background: #6aaed5;
}

.menu__item {
  -webkit-transform: translate3d(500px, 0, 0);
          transform: translate3d(500px, 0, 0);
  background: #6aaed5;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: 0;
  float: left;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu__item--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu__text {
  display: inline-block;
  position: relative;
  font-size: 16px;
  width: 400px;
  padding: 20px 0px 20px 0px;
  margin: 0px 0px 0px 0px;
  font-weight: 300;
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu__text:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 30px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu__text:hover:before {
  width: 100%;
  background: white;
}

.menu__text .menu__img {
  max-height: 30px !important;
  padding: 0px 15px 0px 0px;
  vertical-align: middle;
}

.menu__text2 {
  display: inline-block;
  position: relative;
  width: 400px;
  padding: 10px 0px 0px 0px;
  margin: 0px 0px 0px 100px;
  font-size: 12px;
  text-decoration: none;
  color: white;
  text-align: left !important;
}

.menu .menu__item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.menu .menu__item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.menu .menu__item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.menu .menu__item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.menu .menu__item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.menu .menu__item:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

/* tablet画面 */
@media screen and (max-width: 768px) {
  ul.menu__list,
  div.menu__brand {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu__list--active,
  div.menu__brand--active {
    -webkit-transform: translate3d(0, 0, 0) !important;
            transform: translate3d(0, 0, 0) !important;
  }
  .menu__list {
    height: 75vh !important;
    background: #6aaed5;
    -webkit-transform: translate3d(-100%, 0, 0) !important;
            transform: translate3d(-100%, 0, 0) !important;
  }
  .menu__link {
    font-size: 24px;
  }
  .menu__brand {
    height: 25vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .header {
    background-color: rgba(213, 231, 245, 0.77);
  }
  .header .top-logo .logo-img {
    max-height: 55px !important;
  }
  .burger {
    width: 61px !important;
    height: 71px !important;
    padding: 20px 20px 20px 20px !important;
    right: 15px !important;
  }
  .left-menu {
    width: 703px !important;
    height: 130px !important;
    background-color: #6aaed5;
    border-radius: 36px 36px 36px 71px;
    padding: 150px 100px 0px 0px !important;
    margin: 230px auto 0px auto !important;
  }
  .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    position: relative;
    height: 700px !important;
    max-height: 100%;
  }
  .section .left-menu {
    width: 201px;
    height: 431px;
    position: relative;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background-position: center;
    background-image: url(images/leftmenuim.png);
  }
  .section .left-menu .left-menu-img2 {
    padding: 30px 0px 3px 20px !important;
  }
  .section .left-menu .left-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0px;
    left: 40px;
  }
  .section .left-menu .left-flex2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 20px;
    left: 370px;
  }
  .section .left-menu .left-menu-text1 {
    text-decoration: none;
    position: absolute;
    top: 30px !important;
    left: 150px !important;
    font-size: 14px;
    font-family: inherit;
    width: 300px;
  }
  .section .left-menu .left-menu-text2 {
    text-align: center !important;
    text-decoration: none;
    position: absolute;
    top: 15px !important;
    left: 110px !important;
    font-size: 14px;
    width: 100px;
  }
  .section .container {
    margin: 0px 30px -190px 70px;
    width: 600px;
    font-size: 14px;
  }
  .section .container .label1 {
    font-size: 13px;
    margin: 0px;
    font-weight: bold;
  }
  .section .container .bar .input-botton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90px;
    height: 50px;
  }
  .section .container .font12 {
    color: #999;
    font-size: 9px !important;
    border: 1px #ccc;
    padding: 0 0;
    width: 600px;
  }
  .section .container .form-control {
    font-size: 13px;
  }
}

/* sp画面 */
@media screen and (max-width: 512px) {
  ul.menu__list,
  div.menu__brand {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu__list--active,
  div.menu__brand--active {
    -webkit-transform: translate3d(0, 0, 0) !important;
            transform: translate3d(0, 0, 0) !important;
  }
  .menu__list {
    height: 75vh !important;
    background: #6aaed5;
    -webkit-transform: translate3d(-100%, 0, 0) !important;
            transform: translate3d(-100%, 0, 0) !important;
  }
  .menu__link {
    font-size: 24px;
  }
  .menu__brand {
    height: 25vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .header {
    background-color: rgba(213, 231, 245, 0.77);
  }
  .header .top-logo {
    float: left;
  }
  .header .top-logo .logo-img {
    max-height: 45px !important;
  }
  .burger {
    width: 61px !important;
    height: 71px !important;
    right: 15px !important;
  }
  .left-menu {
    width: 353px !important;
    height: 130px !important;
    background-color: #6aaed5;
    border-radius: 23px 23px 23px 65px;
    padding: 150px 100px 0px 0px !important;
    margin: 230px 0px 0px 9px !important;
    top: 150px;
    left: 00px;
  }
  article .article {
    margin: 20px 0px 0px 0px !important;
    padding: 0px 11px 0px 11px !important;
    position: absolute;
    top: 640px;
    left: 0px;
    width: 100%;
  }
  article .article-bg {
    border-radius: 51px 51px 51px 120px !important;
  }
  article .article-title1 {
    left: 20% !important;
  }
  article .article-title2 {
    margin: 12px 10px 0px 10px !important;
  }
  article .articlemore-bg {
    left: 20% !important;
  }
  .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    position: relative;
    width: 100%;
    height: 500px !important;
    background-size: cover;
    background-position: center center;
    padding: 0px 0px 0px 0px;
    background-image: url(images/topim.png);
    max-width: 100%;
    max-height: 100%;
  }
  .section .left-menu {
    width: 201px;
    height: 431px;
    position: relative;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background-position: center;
    background-image: url(images/leftmenuim.png);
  }
  .section .left-menu .left-flex {
    position: absolute;
    top: 0px;
    left: 50px;
  }
  .section .left-menu .left-flex .left-menu-img1 {
    max-height: 60px !important;
  }
  .section .left-menu .left-flex2 {
    position: absolute;
    top: 0px;
    left: 180px;
  }
  .section .left-menu .left-flex2 .left-menu-img2 {
    max-height: 60px !important;
  }
  .section .left-menu .left-menu-text1 {
    text-decoration: none;
    position: absolute;
    top: 50px !important;
    left: 0px !important;
    font-size: 14px;
    width: 300px;
  }
  .section .left-menu .left-menu-text2 {
    text-decoration: none;
    position: absolute;
    top: 50px !important;
    left: 30px !important;
    font-size: 14px;
    width: 100px;
  }
  .section .container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -210px;
    width: 350px !important;
    position: absolute;
    top: 380px;
    left: 0px;
  }
  .section .container .label1 {
    font-size: 12px;
    margin: 0px;
    font-weight: bold;
  }
  .section .container .bar .input-botton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90px;
    height: 40px;
  }
  .section .container .bar .form-control {
    height: 40px;
    padding-left: 10px !important;
    border-radius: 10px !important;
  }
  .section .container .font12 {
    color: #999;
    font-size: 9px !important;
    border: 1px #ccc;
    padding: 0 0;
    width: 350px !important;
  }
  .section .container .form-control {
    font-size: 10px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  font-weight: 400;
}

main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8vw;
}

main h1 > a {
  color: white;
  text-decoration: none;
  font-size: 48px;
  font-weight: 300;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center;
  padding: 150px 0px 0px 0px;
  background-image: url(images/topim.png);
  background-repeat: no-repeat;
  background-position: center;
}

.section .left-menu {
  width: 201px;
  height: 431px;
  position: relative;
  padding: 20px 40px 0px 10px;
  margin: 0px 0px 0px 15px;
  background-position: center center;
  background-image: url(images/leftmenuim.png);
}

.section .left-menu .left-menu-text1 {
  text-decoration: none;
  font-size: 14px;
  font-family: inherit;
  color: white;
  position: absolute;
  top: 130px;
  left: 50px;
}

.section .left-menu .left-menu-text2 {
  text-decoration: none;
  font-size: 14px;
  font-family: inherit;
  color: white;
  position: absolute;
  top: 270px;
  left: 70px;
}

.section .left-menu .left-menu01-img1 {
  padding: 0px 20px 0px 0px;
}

.section .left-menu .left-menu-img2 {
  padding: 70px 0px 3px 20px;
}

.container {
  margin: 400px 30px 20px 80px;
  width: 800px;
  overflow: hidden;
}

.container .label1 {
  font-size: 14px;
  margin: 0px;
  font-weight: bold;
}

.container .bar {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin: 0px;
}

.container .form-control {
  height: 50px;
  width: 595px;
  resize: none;
  border-radius: 15px;
  border: 1px solid #c2c9d2;
  margin: 0 10px 0px 0px;
  padding: 0px 0px 0px 40px;
  outline-width: 0;
}

.container .form-control:focus {
  border: 1px solid #f00404 !important;
}

.container .font12 {
  height: 30px;
  margin: 10px;
  width: 80%;
  resize: none;
  padding: 8px 16px;
}

.container .left-imput {
  float: left;
  height: 30px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .input-botton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 137px;
  height: 49px;
  background-color: #6aaed5;
  border-radius: 15px 15px 15px 30px;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0px;
}

.container .font12 {
  color: #999;
  font-size: 12px !important;
  border: 1px #ccc;
  padding: 0 0;
  width: 900px;
}

.container .left-imput {
  height: 50px;
}

.container .form-control {
  font-size: 14px;
}

article .article {
  overflow: hidden;
  padding: 0px 31px 0px 31px;
  margin: 0px 0px 0px 0px;
}

article .article-bg {
  width: 100%;
  height: 611px;
  background-color: white;
  border-radius: 88px 88px 88px 185px;
  color: #070707;
  padding: 12px;
}

article .article-bg .article-title1 {
  display: block;
  position: relative;
  overflow: hidden;
  color: #ffffff;
  width: 199px;
  height: 39px;
  text-align: center;
  padding: 0px;
  margin: 27px 0px 0px 0px;
  left: 40%;
  letter-spacing: 0.49em;
  background-image: url(images/articlebg.png);
  font-size: 20px;
  font-family: SourceHanSansJP-Bold, Source Han Sans JP;
  background-size: 95%;
  background-repeat: no-repeat;
}

article .article-bg .article-title2 {
  padding: 0px;
  margin: 12px 70px 0px 70px;
  overflow: hidden;
}

article .article-bg .article-album {
  padding: 0px;
  margin: 12px 70px 0px 70px;
  overflow: hidden;
}

article .article-bg .articlemore-bg {
  display: block;
  position: relative;
  overflow: hidden;
  color: #ffffff;
  width: 240px;
  height: 42px;
  text-align: center;
  padding: 8px 0px 0px 0px;
  margin: 40px 0px 0px 0px;
  left: 40%;
  background-color: #83ceb8;
  border-radius: 15px 20px 20px 27px;
}

article .article-bg .articlemore-text {
  text-decoration: none;
  color: #ffffff;
  width: 10px;
  font-weight: bold;
}

article .article-bg .articlemore-text2::after {
  content: "";
  display: block;
  font-family: SourceHanSansJP-Bold, Source Han Sans JP;
  width: 7px;
  height: 7px;
  border-top: 3px solid white;
  border-right: 3px solid white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -7px;
}

article .article-bg .facility-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
}

article .article-bg .facility-butten1 {
  display: block;
  width: 78px;
  height: 78px;
  background-color: #83ceb8;
  border-radius: 30px 30px 30px 46px;
  margin: 140px 20px 20px 10px;
}

article .article-bg .facility-text1::after {
  content: "";
  display: block;
  font-family: SourceHanSansJP-Bold, Source Han Sans JP;
  width: 7px;
  height: 7px;
  border-top: 3px solid white;
  border-right: 3px solid white;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin: 30px 10px 20px 35px;
}

article .article-bg .facility-butten2 {
  display: block;
  width: 78px;
  height: 78px;
  background-color: #83ceb8;
  border-radius: 30px 30px 30px 46px;
  margin: 140px 20px 20px 10px;
}

article .article-bg .facility-text2::after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-top: 3px solid white;
  border-right: 3px solid white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 30px 10px 20px 35px;
}

article .article-bg .article-info {
  display: block;
  width: 395px;
  height: 419px;
  background-color: white;
  border-radius: 19px;
  margin: 50px;
  border: 1px solid #c2c9d2;
  padding: 0px;
  margin: 10px;
}

article .article-bg .article-info-im1 {
  margin: 0px;
  padding: 0px;
  max-height: 200px;
  text-align: center;
}

article .article-bg .article-info-im2 {
  margin: 0px;
  padding: 0px 0px 0px 15px;
  max-height: 200px;
  text-align: center;
}

article .article-bg .article-info-padding {
  padding: 20px;
  margin: 0px;
}
/*# sourceMappingURL=style.css.map */