body {
    font-family: Lato, Meiryo, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #333;
  width: 100%;
  font-size: 15px;
  word-wrap: break-word;
  min-height: 100%;
  line-height: 1.8; 
  margin: 0;
  padding: 0;
}
h1 {
    font-size: 14px;
    margin:0;
}
li {
    list-style: none;
}
a {
    color: #187cc2;
    -webkit-transition: 200ms all;
    -o-transition: 200ms all;
    transition: 200ms all; }
    a:hover {
      /*color: #ff7f00;*/
      text-decoration: underline; }
      a:hover img {
        opacity: 0.7; 
} 



.container {
margin: 30px;
    .label1{
        font-size: 15px;
    }
    .bar { display: block;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border-radius: 0.25rem;
        margin:0;
    }
        
        .form-control {
            height: 30px;
            width: 100%;
            resize: none;
            border-radius: 3px;
            border: 1px solid #ced4da;
            margin: 0 10px 0px 0px;
        }
        .font12{
            height: 30px;
            margin: 10px;
            width: 80%;
            resize: none;
            padding: 8px 16px;
            font-size: 14px;
            
            
        }
        .left-imput {
            float: left;
            height: 30px;
            width: 70%;
            display: flex;
           
        }
        .input-btn {
            display: flex;
            width: 80px;
            height: 35px;
            border-radius: 3px;
            justify-content: center;
            border: 0;
            font-size: 14px;
  
        }
        .input-btn-color {
            background-color: #187cc2;
            color: #fff;
  
        }

}

.container2{
    .bar2 { display: block;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border-radius: 0.25rem;
        margin:0;
    }
    .font13{
        height: 30px;
        margin: 10px;
        width: 80%;
        resize: none;
        padding: 8px 16px;
        font-size: 14px;
}


}