@mixin burgerMenu {
    .burger {
        position: absolute;
        z-index: 10;
        right: 25px;
        top: 25px;
        cursor: pointer;
        width: 115px;
        border-radius: 36px 36px 36px 71px;
        height: 100px;
        padding: 45px;
        transform: rotateY(0);
        @include easeOut;
      
        &__patty {
          width: 37px;
          height: 5px;
          margin: 5px;
          background: rgb(0, 0, 0);
          @include easeOut; 
      
          &:last-child {
            margin-bottom: 0;
          }
        }
      
        // transform burger into 'x'
        &--close {
          transform: rotate(180deg);
      
          .burger__patty {
            &:nth-child(1) {
              transform: rotate(45deg) translate(8px, 8px);
              background-color: white;
            }
            &:nth-child(2) {
              opacity: 0;
            }
            &:nth-child(3) {
              transform: rotate(-45deg) translate(5px, -5px);
              background-color: white;
            }
          }
        }
      }
}