body {
  background: rgb(255, 255, 255);
}

#wrap {
  width: 1000px;
  margin: 0 auto;
}
li {
  list-style: none;
}
header {
  width: 1000px;
  height: 100px;
  background: rgb(255, 255, 255);
}

aside {
  width: 700px;
  height: 500px;
  background: rgb(255, 255, 255);
  float: left;
}

svg.sample-icon1 {
  width: 30px;
  height: 30px;
  display: inline-block;
}

section {
  width: 300px;
  height: 100px;
  background: rgb(255, 255, 255);
  float: left;
  .section2 {
    width: 300px;
    background: rgb(255, 255, 255);
    padding: 0px;
    .accordion-heading {
      text-align: left;
      padding: 3px 10px;
      background: #e7e7e7;
      .im1 {
        svg.sample-icon {
          width: 16px;
          height: 16px;
          display: inline-block;
        }

        .st18 {
          fill: #6d7289;
        }
      }
    }
  }
  nav {
    width: 300px;
    height: 700px;
    background: rgb(255, 255, 255);
  }
}
footer {
  width: 1000px;
  height: 100px;
  background: #ffffff;
  clear: both;
}
